

.container{
    width: auto;
    margin:auto;
    padding:20px;

}


.box-1{
    background-color: aqua;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: dotted 3px black;
}

.box-2{
    background-color: azure;
    padding: 10px;
    margin: 10px;
    border: blue solid 1px;
}

.box-3{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}

.box-4{
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}

p {
    font-size: 20px;
}


footer ul{
    list-style: none;
    width: fit-content;
    margin: auto;
    padding: 10px;
    
}
footer li{
   display: inline;
   padding: 20px;
  
}


@media  (min-width: 1024px) {
    body {
        background-color: aquamarine; 
        width: 100%;
        color: red;
    }

    h1  {
        font-size: 100px;
    }

    p {
        font-size: 25px;
    }
    
   
    
   
    
   
    
}